.backLink {
  margin: 20px;
}

.box {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #2a363b;
}

.box img {
  width: 350px;
  margin-right: 40px;
  border-radius: 10px;
  object-fit: cover;
}

.description {
  padding: 0 20px;
}

.additional {
  padding: 0 20px;
  border-bottom: 1px solid #2a363b;
}

.additionalLinks {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .box img {
    width: 100%;
    margin-right: 0;
  }
  .description {
    padding: 20px;
  }
}
